.review {
  background-color: #fff;
  box-shadow: $shadow-light;
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
    // justify-content: space-between;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }

  &__user-box {
    padding-left: 1.4rem;
    // flex: 1;
    margin-right: auto;
  }

  &__user-name {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  &__user-date {
    font-size: 0.2rem;
  }

  &__rating {
    font-weight: 300;
    font-size: 2rem;
    color: $color-primary-dark;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: $color-grey-light-2;
    font-family: sans-serif;
    z-index: 1;
  }
}
